.ScoreCard{

    position : absolute;
    height: 240px;
    background-color: antiquewhite;
    width: 240px;
    border-radius: 8%;
    background-color : #333;
    top : 230px;
 
}

.ScoreCard h1{
    color : white;
    font-family: 'Mina', sans-serif;
    text-shadow: 0px 5px #000;
    
    }

.textshadow{
        color : white;
        font-family: 'Mina', sans-serif;
        color: #fff;
        font-family: Arvo;
        font-weight: bold;
        text-shadow:
          -3px -3px 0 #222,
          3px -3px 0 #222,
          -3px 3px 0 #222,
          3px 3px 0 #222,
          4px 4px 0 #fff,
          5px 5px 0 #fff,
          6px 6px 0 #fff,
          7px 7px 0 #fff;
        line-height: 0.8em;
        letter-spacing: 0.1em;
        transform: scaleY(0.7);
        -webkit-transform: scaleY(0.7);
        -moz-transform: scaleY(0.7);
        margin:0;
        text-align: center;
        font-size : 160px;
        height : 100%

        
}
    
    